<li class='card'>

  <div class='card-list'>
    <h2 class='card-title'> {{name}}</h2>
    <p class='card-text'>Capital: {{capital}}</p>
    <p class='card-text'>Population: {{population}}</p>
    <p class='card-text'>Languages: </p>
    <ul>{{#each languages}}

        <li class='card-text'>{{name}}</li>

      {{/each}}</ul>
  </div>
  <div><img class='card-img' src='{{flag}}' alt='{{name}}' width='200px' /></div>
</li>